.wrapper {
  position: relative;
  padding: 40px 50px 50vh;
}

.title {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 35px;
}

.languageChoice {
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px;
}

.languageBlock {
  cursor: pointer;
}

.language {
  width: 85px;
  height: 85px;
  border-radius: 15px;
  box-shadow: 0px 0px 21.7px 3px rgba(106, 117, 223, 0.3);
  margin-bottom: 15px;
  border: 1px solid #767676;
}

.language img {
  width: 60%;
  height: 60%;
}

.languageName {
  color: #767676;
  text-align: center;
  font-size: 14px;
}

.chosen {
  background-color: #6a75df;
  border: 1px solid #6a75df;
}

.logout {
  position: fixed;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  z-index: 0;

  width: 280px;
  height: 60px;
  max-width: 100%;

  cursor: pointer;
  font-size: 24px;
  color: #6a75df;
  background-color: white;
  border-radius: 25px;
  border: 1px solid #6a75df;
}

.logout:hover {
  background-color: #6a75df;
  color: white;
}

@media screen and (max-width: 480px) {
  .wrapper {
    padding: 40px 5% 50vh;
  }
}
