.options {
  display: flex;
  justify-content: space-between;
  width: 530px;
  max-width: 100%;
  margin: 95px auto auto;
}

.option {
  width: 45%;
  height: 30px;
  background-color: white;
  border-radius: 50px;
  color: black;
  border: 1px solid black;
  cursor: pointer;
}

.chosen {
  background: #6a75df;
  color: white;
}

@media screen and (max-width: 480px) {
  .options {
    flex-wrap: wrap;
    gap: 15px 0;
  }

  .option {
    width: 45%;
  }
}
